<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input and Submit Example</title>
    <style>
        body {
            font-family: monospace;
            margin: 0;
            padding: 10px;
        }
        .header {
        }
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two columns */
            gap: 10px;
            width: 75%;
            <!-- padding-top: 30px; /* Create space for the submit button */ -->
        }
        .additional-inputs input {
            margin-bottom: 5px;
        }
        .column {
            display: flex;
            flex-direction: column;
            gap: 1px;
        }
        .container {
            display: flex;
            align-items: center;
        }
        h2 {
            margin: 2px;
            margin-top: 5px;
            margin-left: 0px;
        }
        .input-group {
            display: flex;
            align-items: center;
        }
        .input-group div {
            margin-right: 10px;
        }
        .input-group input {
            margin-right: 10px;
            width: 150px;
        }
        .input-group input.note {
            margin-right: 10px;
            width: 150px;
        }
        .input-group input.time {
            margin-right: 10px;
            width: 80px;
        }
        .input-group input.snow{
            margin-right: 10px;
            width: 100px;
        }
        .submit-all {
            position: relative;
            margin-bottom: 5px;
        }
        .invalid {
            border-color: red;
        }
    </style>
</head>
<body>
    <form action="/submit_snow" method="post" onsubmit="confirmSubmission(event)">
        <div class="header">
        <div>
        <a href="/">Form selection</a>
        </div>
            <div class="submit-all">
                <button type="submit" disabled="disabled" id="subBut">Submit All</button>
            </div>
            <div class="additional-inputs">
              <div>Date YYMMDD:</div>
                <input type="text" name="measurementDate" class="date" placeholder="Measurement date YYMMDD" class="number-only" maxlength=6>
              <div>Name:</div>
                <input type="text" name="measurerName" placeholder="Measurer name">
              <div>Snow manipulation done?</div>
                <select name="lumimanip" class="manip" id="yesno">
                  <option value="None"></option>
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select> 
                <!-- <input type="text" name="measurerName" placeholder="Measurer name"> -->
                <!-- Add more inputs as needed -->
            </div>
        </div><!-- </div> -->
        <div class="wrapper">
            <div class="column">
          <h2>Fen plots</h2>
                <div class="container">
                    <div class="input-group">
                        <div>Plot37:</div>
                        <input type="text" name="snow37-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow37-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow37-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi37" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot38:</div>
                        <input type="text" name="snow38-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow38-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow38-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi38" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot39:</div>
                        <input type="text" name="snow39-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow39-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow39-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi39" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot40:</div>
                        <input type="text" name="snow40-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow40-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow40-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi40" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot41:</div>
                        <input type="text" name="snow41-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow41-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow41-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi41" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot42:</div>
                        <input type="text" name="snow42-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow42-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow42-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi42" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot43:</div>
                        <input type="text" name="snow43-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow43-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow43-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi43" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot44:</div>
                        <input type="text" name="snow44-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow44-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow44-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi44" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot45:</div>
                        <input type="text" name="snow45-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow45-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow45-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi45" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot46:</div>
                        <input type="text" name="snow46-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow46-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow46-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi46" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot47:</div>
                        <input type="text" name="snow47-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow47-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow47-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi47" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot48:</div>
                        <input type="text" name="snow48-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow48-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow48-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi48" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot49:</div>
                        <input type="text" name="snow49-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow49-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow49-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi49" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot50:</div>
                        <input type="text" name="snow50-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow50-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow50-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi50" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot51:</div>
                        <input type="text" name="snow51-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow51-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow51-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi51" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot52:</div>
                        <input type="text" name="snow52-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow52-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow52-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi52" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot53:</div>
                        <input type="text" name="snow53-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow53-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow53-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi53" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot54:</div>
                        <input type="text" name="snow54-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow54-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow54-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi54" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot55:</div>
                        <input type="text" name="snow55-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow55-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow55-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi55" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot56:</div>
                        <input type="text" name="snow56-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow56-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow56-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi56" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot57:</div>
                        <input type="text" name="snow57-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow57-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow57-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi57" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot58:</div>
                        <input type="text" name="snow58-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow58-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow58-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi58" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot59:</div>
                        <input type="text" name="snow59-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow59-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow59-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi59" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot60:</div>
                        <input type="text" name="snow60-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow60-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow60-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi60" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot61:</div>
                        <input type="text" name="snow61-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow61-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow61-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi61" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot62:</div>
                        <input type="text" name="snow62-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow62-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow62-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi62" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot63:</div>
                        <input type="text" name="snow63-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow63-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow63-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi63" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot64:</div>
                        <input type="text" name="snow64-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow64-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow64-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi64" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot65:</div>
                        <input type="text" name="snow65-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow65-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow65-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi65" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot66:</div>
                        <input type="text" name="snow66-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow66-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow66-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi66" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot67:</div>
                        <input type="text" name="snow67-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow67-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow67-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi67" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot68:</div>
                        <input type="text" name="snow68-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow68-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow68-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi68" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot69:</div>
                        <input type="text" name="snow69-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow69-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow69-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi69" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot70:</div>
                        <input type="text" name="snow70-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow70-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow70-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi70" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot71:</div>
                        <input type="text" name="snow71-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow71-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow71-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi71" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group">
                        <div>Plot72:</div>
                        <input type="text" name="snow72-1" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow72-2" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="snow72-3" class="number-only snow" placeholder="Snowdepth (cm)" maxlength=6>
                        <input type="text" name="palvi72" class="number-only" placeholder="Palvi-%" maxlength=3>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
  function isValidYYMMDD(timestamp) {
    // Check if the input matches the YYMMDD format
    if (!/^\d{6}$/.test(timestamp)) {
        return false;
    }

    // Extract year, month, and day parts
    const year = parseInt(timestamp.substring(0, 2), 10);
    const month = parseInt(timestamp.substring(2, 4), 10);
    const day = parseInt(timestamp.substring(4, 6), 10);

    // Check if the month is valid (1-12)
    if (month < 1 || month > 12) {
        return false;
    }

    // Check if the day is valid for the given month
    const daysInMonth = [31, (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0 ? 29 : 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

    if (day < 1 || day > daysInMonth[month - 1]) {
        return false;
    }

    return true;
}
  function isValidFloat(input) {
    // Check if the input is a number or can be converted to a number
    if (input == ""){
     return true;
    }
    if (!isNaN(input) && parseFloat(input) == input) {
        return true;
    } else {
        return false;
    }
}
function isValidHHMM(value) {
        // Check if the input is exactly 4 digits
        if (!value) {
            return true;
        }

        if (!/^\d{4}$/.test(value)) {
            return false;
        }

        // Extract hours and minutes
        const hours = parseInt(value.substring(0, 2), 10);
        const minutes = parseInt(value.substring(2, 4), 10);

        // Validate hours and minutes
        if (hours < 0 || hours > 23 || minutes < 0 || minutes > 59) {
            return false;
        }

        return true;
    }
  document.addEventListener('DOMContentLoaded', (event) => {
    const top_inputs = document.querySelectorAll('.date');

    top_inputs.forEach(tops => {
      tops.addEventListener('focusout', (event) => {
        const input = event.target.value;
        const inputBox = event.target

            if (isValidYYMMDD(input)) {
                inputBox.classList.remove('invalid')
            } else {
                // warning.style.display = 'block';
                inputBox.classList.add('invalid')
                document.getElementById("subBut").disabled = true;
            }
        // disable submit button if there are any invalids
        const invalids = document.querySelectorAll('.invalid');
        if (invalids.length > 0) {
          document.getElementById("subBut").disabled = true;
        } else {
          document.getElementById("subBut").disabled = false;
        }
        });
      })
    })

  document.addEventListener('DOMContentLoaded', (event) => {
    const timeInputs = document.querySelectorAll('.snow');

    timeInputs.forEach(time => {
      time.addEventListener('focusout', (event) => {
        const input = event.target.value;
        const inputBox = event.target

            if (isValidFloat(input)) {
                inputBox.classList.remove('invalid')
            } else {
                // warning.style.display = 'block';
                inputBox.classList.add('invalid')
                document.getElementById("subBut").disabled = true;
            }
        // disable submit button if there are any invalids
        const invalids = document.querySelectorAll('.invalid');
        if (invalids.length > 0) {
          document.getElementById("subBut").disabled = true;
        } else {
          document.getElementById("subBut").disabled = false;
        }
        });
      })
    })


  document.addEventListener('DOMContentLoaded', (event) => {
    const numberOnlyInputs = document.querySelectorAll('.number-only');

    numberOnlyInputs.forEach(input => {
        input.addEventListener('input', (event) => {
            const value = event.target.value;
            if (!/^\d*$/.test(value)) {
                event.target.value = value.replace(/[^\d.]/g, '');
            }
        });
    });
});
  document.addEventListener("DOMContentLoaded", function() {
      const inputs = Array.from(document.querySelectorAll("input"));
      const lastInput = inputs[inputs.length - 1];
      lastInput.addEventListener("keydown", function(event) {
          if (event.key === "Tab" && !event.shiftKey) {
              event.preventDefault();
              inputs[0].focus();
          }
      });
  });
        function confirmSubmission(event) {
            event.preventDefault(); // Prevent the default form submission
            const confirmation = confirm("Are you sure you want to submit?");
            if (confirmation) {
                event.target.submit(); // Submit the form if confirmed
            }
        }
  document.addEventListener('DOMContentLoaded', (event) => {
    const numberOnlyInputs = document.querySelectorAll('.number-only');

    numberOnlyInputs.forEach(input => {
        input.addEventListener('input', (event) => {
            const value = event.target.value;
            if (!/^\d*$/.test(value)) {
                event.target.value = value.replace(/[^\d.]/g, '');
            }
        });
    });
});
document.addEventListener('DOMContentLoaded', (event) => {
    const lumimanip = document.querySelectorAll('.manip');

    lumimanip.forEach(input => {
      input.addEventListener('focusout', (event) => {
            const value = event.target.value;
            const inputBox = event.target
            console.log(value)
        if (value == "None") {
          document.getElementById("subBut").disabled = true;
          inputBox.classList.add('invalid')
        }
        else{
          inputBox.classList.remove('invalid')
        }
        const invalids = document.querySelectorAll('.invalid');
        if (invalids.length > 0) {
          document.getElementById("subBut").disabled = true;
        } else {
          document.getElementById("subBut").disabled = false;
        }

        });
    });
})
    </script>
</body>
</html>

